/* ------------- imported from asciidoctor.css ------------- */
/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css');


:root {
  --maincolor: #FFFFFF;
  --primarycolor: #2c3e50;
  --secondarycolor: #ba3925;
  --tertiarycolor: #186d7a;
  --highlightcolor: #ffd600;
  --sidebarbackground: #CCC;
  --linkcolor: #b71c1c;
  --linkcoloralternate: #f44336;
  --stickynote: #f9a825;
  --white: #FFFFFF;
  --black: #000000;

  --main-font: "Work Sans", sans-serif;
  --heading-font: "Architects Daughter", cursive;
  --monospace-font: "Source Code Pro", monospace;
}

/* Text styles */

body {
  font-family: var(--main-font);
  background-color: #fff;
}

h1 {
  color: var(--black) !important;
  font-family: var(--heading-font);
  font-weight: bold;
}

h2,
h3,
h5,
h6 {
  color: var(--secondarycolor) !important;
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2 {
  margin-bottom: 0;
}

h4 {
  color: var(--tertiarycolor) !important;
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2::before {
  content: "/ ";
  margin-right: 0.3em;
  color: var(--tertiarycolor)
}

h3::before {
  content: "//  ";
  margin-right: 0.3em;
  color: var(--tertiarycolor)
}

h4::before {
  content: "///  ";
  margin-right: 0.3em;
  color: var(--tertiarycolor)
}

.title {
  color: var(--black) !important;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

/*a{text-decoration: none;}*/
p {
  font-family: var(--main-font) ! important
}

#toc.toc2 a:link,
#toc.toc2 a:visited {
  color: var(----maincolor) !important;
  font-family: var(--main-font) !important
}

blockquote {
  color: var(--secondarycolor) !important
}


.subtitle p {
  font-size: 1.7em !important;
  margin-top: 0;
  margin-left: 80px;
  color: var(--tertiarycolor);
  font-family: var(--heading-font) !important;
  font-weight: bold;
  letter-spacing: 1.5px;
}


.quoteblock {
  color: var(--black)
}

.quoteblock blockquote:before {
  color: var(--black)
}

mark {
  background-color: var(--highlightcolor)
}

/* Table styles */
th {
  background-color: var(--maincolor);
  color: var(--black) !important;
}


/* GOTCHA!!! */
/*
td {
  background-color: var(--maincolor);
  color: var(--black) !important
}
*/

td:not(.listingblock .content pre td) {
  background-color: var(--maincolor);
  color: var(--black) !important;
}

#toc.toc2 {
  background-color: var(--sidebarbackground);
  font-family: var(--main-font);
}

#toctitle {
  color: var(--white);
  font-family: var(--heading-font)
}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
  table {
    width: 55vw !important;
    font-size: 3vw;
  }
}

#footer {
  background-color: var(--sidebarbackground);
}

#footer-text {
  color: var(--primarycolor);
}

#footer-text a {
  color: var(--linkcoloralternate);
  text-decoration: underline;
}

#theme-toggle {
  position: fixed;
  top: 10px;
  /* Adjust the vertical position */
  right: 10px;
  /* Adjust the horizontal position (right side of the screen) */
  z-index: 10;
  /* Ensure it appears above other content */
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  font-size: smaller;
  color: var(--linkcolor);
  /* or a custom color */
  cursor: pointer;
  text-decoration: underline;
}