/* Color styling for light theme */

@import url('./architech.css');

:root {
  --maincolor: #FFFFFF;
  --primarycolor: #000000;
  --secondarycolor: #1a237e;
  --tertiarycolor: #9ddcff;
  --highlightcolor: #ffd600;
  --sidebarbackground: #CACACA;
  --linkcolor: #0D47A1;
  --linkcoloralternate: #B71C1C;
  --stickynote: #f9a825;
  --white: #FFFFFF;
  --black: #000000;
}



#toc.toc2 {
  background-image: url('../images/blue-grid.png');
  /* Adjust path as necessary */
  background-repeat: repeat;
  background-size: auto;
  /* This will scale the image to cover the TOC */
  padding: 1em;
  /* Optional: add some padding around the TOC */
  color: white;
  /* Adjust text color for better contrast if necessary */
  background-color: #2e7bcf;
  /* fallback */
  border-right: solid 1px #275da1;

  #toctitle {
    color: var(--tertiarycolor) !important;
    font-family: var(--heading-font) !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
  }

  a:link {
    color: var(--white);
    font-family: var(--main-font) !important;
  }

  code {
    color: var(--primarycolor);
    background-color: var(--tertiarycolor);
    /* font-weight: bold; */
  }
}